# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json
external-chaincode/
network/channel-artifacts
network/crypto-config
network/data

# Eclipse
.classpath
.settings

chaincode/pig
network/organizations/fabric-ca/factory/IssuerPublicKey
network/organizations/fabric-ca/factory/IssuerRevocationPublicKey
network/organizations/fabric-ca/factory/ca-cert.pem
network/organizations/fabric-ca/factory/msp/
network/organizations/fabric-ca/factory/tls-cert.pem
network/organizations/fabric-ca/farm/IssuerPublicKey
network/organizations/fabric-ca/farm/IssuerRevocationPublicKey
network/organizations/fabric-ca/farm/ca-cert.pem
network/organizations/fabric-ca/farm/msp/
network/organizations/fabric-ca/farm/tls-cert.pem
network/organizations/fabric-ca/market/IssuerPublicKey
network/organizations/fabric-ca/market/IssuerRevocationPublicKey
network/organizations/fabric-ca/market/ca-cert.pem
network/organizations/fabric-ca/market/msp/
network/organizations/fabric-ca/market/tls-cert.pem